
.content-wrapper .row-search{
    align-items: center;
    height: 15%;
}

.content-wrapper .form-search{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content-wrapper .form-search input{
    width: 95%;
}

.content-wrapper .content-newOrder{
    height: 85%;
    justify-content: center
}

.content-newOrder-inner{
    height: 85%;
    min-height: 600px;
    width: 75% !important;
    display: flex;
    flex-direction: row;
}

.content-newOrder-inner .band-yellow{
    background: #FFD500 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
    box-shadow: 0px 3px 6px #00000029;
}

.content-newOrder-inner .form-inner-newOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0px 6px 6px 0px;
    box-shadow: 0px 3px 6px #00000029;
}

.content-newOrder-inner .form-inner-newOrder .form-newOrder{
    width: 65%;
    height: 85%;
}

.content-newOrder-inner .form-inner-newOrder .form-newOrder .label-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.content-newOrder-inner .form-inner-newOrder .form-newOrder .label-input input,.content-newOrder-inner .form-inner-newOrder .form-newOrder .label-input textarea{
    width: 50%;
    max-height: 92px;
}

.content-newOrder-inner .form-inner-newOrder .form-newOrder .label-input textarea{
    min-height: 92px;
}

.content-newOrder-inner .form-inner-newOrder .form-newOrder .buttons-container{
    display: flex;
    justify-content: right;
}

.content-newOrder-inner .form-inner-newOrder .form-newOrder .buttons-container .btn-crear{
    width: 23%;
    margin: 10px;
    background-color: #FFD500;
    color: #000;
}

.content-newOrder-inner .form-inner-newOrder .form-newOrder .buttons-container .btn-crear:hover{
    background-color: #11c96d;
}

.content-newOrder-inner .form-inner-newOrder .form-newOrder .buttons-container .btn-cancelar{
    width: 23%;
    margin: 10px;
    background-color: #bdbcbc;
    color: #000;
}

.content-newOrder-inner .form-inner-newOrder .form-newOrder .buttons-container .btn-cancelar:hover{
    background-color: rgb(175, 53, 53);
    color: #fff;
}

@media (max-width:1366px) {
    .content-newOrder-inner{
        width: 80% !important;
        margin-left: 0 !important;
        min-height: 470px !important;
    }

    .content-newOrder-inner .form-inner-newOrder .form-newOrder .label-input textarea{
        min-height: 50px;
        max-height: 50px;
    }

    .content-newOrder-inner .form-inner-newOrder .form-newOrder .label-input{
        padding: 10px;
    }

    .content-newOrder-inner .form-inner-newOrder .form-newOrder{
        width: 70%;
    }


}

